#livingstone-browse-catalogue-form .search-fields {
  padding: 21px 5px;
}
#livingstone-browse-catalogue-form input[type="text"] {
  background: url('../images/search-button.png') no-repeat 1px 1px #FFF;
  padding: 0 0 0 30px;
  border: 1px solid #d0d0d0;
  height: 25px;
  width: 100%;
  display: inline;
}
#livingstone-browse-catalogue-form input[type="submit"].search-button {
  margin-top: -2px;
  padding: 0 0.5em;
  height: 25px;
}
#livingstone-browse-catalogue-form select {
  margin: 0.5em 0 0.5em;
  width: 90%;
}
#livingstone-browse-catalogue-form select[name="limit"],
#livingstone-browse-catalogue-form select[name="creator"],
#livingstone-browse-catalogue-form select[name="addressee"],
#livingstone-browse-catalogue-form select[name="repository"],
#livingstone-browse-catalogue-form select[name="genre"],
#livingstone-browse-catalogue-form select[name="access"] {
  min-width: 100%;
}
#livingstone-browse-catalogue-form select[name="limit"] {
  margin: 0.5em 0 0.25em;
}
.search-fields .full-record {
  margin: 10px 0;
}
#livingstone-browse-catalogue-form input[type="checkbox"],
#livingstone-browse-catalogue-form input[type="checkbox"] + label{
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#livingstone-browse-catalogue-form input[type="radio"] {
  display: block;
}
#livingstone-browse-catalogue-form .date-container input[type="select"] {
  margin: 5px;
}
#livingstone-browse-catalogue-form .clear-button {
  width: 100%;
  margin: 0.5em 0 0.5em;
}

/* Search Results Table */
.hide-instructions .mock-pager {
  height: 22px;
}
.search-results {
  overflow-x: auto;
}
.search-results table.sticky-header {
  top: 70px !important;
  clip: rect(auto, auto, auto, auto);
}
.search-results td.access-column a {
  margin: 0 0.5em;
  vertical-align: middle;
}
body.page-islandora #livingstone-browse-catalogue-form .search-results th {
  background: #ddd none repeat scroll 0 0;
  border: 1px solid #999;
  padding: 10px;
  color: #428bca;
  font-size: 14px;
  font-weight: normal;
}
.search-results td {
  border: 1px solid #ddd;
  background-color: rgb(255,255,255);
}
/* Columns Width's */
.search-results th.access-column,
.search-results td.access-column {
  max-width: 140px !important;
  min-width: 140px !important;
  width: 140px !important;
}
.search-results th.title-column,
.search-results td.title-column {
  max-width: 240px !important;
  min-width: 240px !important;
  width: 240px !important;
}
.search-results.full-record th.title-column,
.search-results.full-record td.title-column {
  max-width: 350px !important;
  min-width: 350px !important;
  width: 350px !important;
}
.search-results th.date-column,
.search-results td.date-column {
  max-width: 135px !important;
  min-width: 135px !important;
  width: 135px !important;
}
.search-results th.creator-column,
.search-results td.creator-column {
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
}
.search-results th.addressee-column,
.search-results td.addressee-column {
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
}
.search-results th.place-created-column,
.search-results td.place-created-column {
  max-width: 150px !important;
  min-width: 150px !important;
  width: 150px !important;
}
.search-results th.pages-column,
.search-results td.pages-column {
  max-width: 108px !important;
  min-width: 108px !important;
  width: 108px !important;
}
.search-results th.size-column,
.search-results td.size-column {
  max-width: 95px !important;
  min-width: 95px !important;
  width: 95px !important;
}
.search-results th.genre-column,
.search-results td.genre-column {
  max-width: 187px !important;
  min-width: 187px !important;
  width: 187px !important;
}
.search-results th.repository-column,
.search-results td.repository-column {
  max-width: 300px !important;
  min-width: 300px !important;
  width: 300px !important;
}
.search-results th.copy-column,
.search-results td.copy-column {
  max-width: 110px !important;
  min-width: 110px !important;
  width: 110px !important;
}
.search-results th.other-versions-column,
.search-results td.other-versions-column {
  max-width: 350px !important;
  min-width: 350px !important;
  width: 350px !important;
}
.search-results th.catalogue-number-column,
.search-results td.catalogue-number-column {
  max-width: 160px !important;
  min-width: 160px !important;
  width: 160px !important;
}

/* Select Fields */
#livingstone-browse-catalogue-form select {
  background: transparent;
  padding: 0 3em 0 0.5em;
  font-size: 14px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/select-arrow.png) no-repeat #eee;
  background-size: 1em;
  background-position: right;
  cursor: pointer;
  -webkit-appearance: button;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width: 0\0) {
  #livingstone-browse-catalogue-form select {
    background: none;
    padding: 5px;
  }
}

#livingstone-browse-catalogue-form input[type="submit"] {
  padding: 0;
}

#livingstone-browse-catalogue-form input[type="submit"],
#livingstone-browse-catalogue-form input[type="submit"]:hover {
  background-image: none;
  background-color: rgb(240, 240, 240);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  font-size: inherit;
  border: 1px solid #ccc;
}

#livingstone-browse-catalogue-form input[type="submit"].btn:hover,
#livingstone-browse-catalogue-form input[type="submit"].btn:focus {
  color: black;
  background-color: #999;
}

.search-fields table,
.search-fields tr,
.search-fields td {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.date-container td {
  width: 33%;
}

@media only screen
and (min-width : 768px)
and (max-width : 1028px) {
  .date-container td,
  .date-container tr,
  .date-container table,
  .date-container tbody {
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  .date-container td {
    width: 50%;
  }
  .date-container td:nth-of-type(3) {
    text-align: left !important;
  }
  .date-container td:nth-of-type(4) {
    text-align: right !important;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.search-fields .date-range {
  text-align: right;
}

#livingstone-browse-catalogue-form .search-fields select[name="year"] + span {
  margin: 0 0.5em;
}
#livingstone-browse-catalogue-form .date-container select {
   padding: 0 0 0 0.5em;
}

.search-block {
  margin: 0 0 0.35em;
}
.search-block td:first-of-type {
  padding-right: 10px !important;
}

a.fa-ban,
a.fa-ban:hover {
  color: #b22222;
}

.download-size {
  display: inline-block;
  color: #808080;
  font-size:  0.8em;
  vertical-align: middle;
}
.catalogue-download-links {
  text-align: center;
  padding: 2em 1em;
  font-size: 0.9em;
}
.catalogue-download-links div:first-of-type {
  font-style: italic;
}
.catalogue-download-links a {
  padding-right: 0.3em;
}
.pager-wrapper {
  text-align: center;
}
.pager-wrapper .item-list {
  display: inline-block;
}
.pager-wrapper .scroll-instructions-left {
  float: left;
}
.pager-wrapper .scroll-instructions-right {
  float: right;
}

.alt-scroll-instructions {
  text-align: center;
}

.alt-scroll-instructions span {
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (max-width: 768px) {
  .scroll-instructions-left,
  .scroll-instructions-right {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .alt-scroll-instructions .scroll-instructions-left,
  .alt-scroll-instructions .scroll-instructions-right {
    display: inline-block;
  }
  .pager-wrapper .scroll-instructions-left,
  .pager-wrapper .scroll-instructions-right {
    display: none;
  }
}


@media screen and (min-width: 1049px) {
  .alt-scroll-instructions .scroll-instructions-left,
  .alt-scroll-instructions .scroll-instructions-right {
    display: none;
  }
  .pager-wrapper .scroll-instructions-left,
  .pager-wrapper .scroll-instructions-right {
    display: inline-block;
  }
}

.hide-instructions .scroll-instructions-left,
.hide-instructions .scroll-instructions-right {
  display: none !important;
}
