#openseadragon {
  width: 100%;
  height: 100%;
  position: fixed !important;
  background-color: black;
  z-index: 100;
}
#openseadragon.item-details-open.transcription-open {
  display: none;
}
#openseadragon.item-details-open {
  width: 50%;
  right: 0px;
}
#openseadragon.transcription-open {
  width: 50%;
  left: 0px;
}
#openseadragon .prev-icon {
  position: absolute;
  top: 40%;
  z-index: 200;
  cursor: pointer;
  left: 0;
  height: 60px;
  width: 30px;
  background-color: #252525;
}
#openseadragon .next-icon {
  position: absolute;
  top: 40%;
  z-index: 200;
  cursor: pointer;
  right: 0;
  height: 60px;
  width: 30px;
  background-color: #252525;
}
#openseadragon .arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 15px;
}
#openseadragon .arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  margin: auto;
  margin-top: 15px;
  left: 0;
  right: 0;
}
