#main-image .spectral-image-toolbar,
#compare-image .spectral-image-toolbar {
  position: absolute;
  z-index: 1;
  padding: 20px 60px;
  width: 100%;
}
#main-image .spectral-image-toolbar select,
#compare-image .spectral-image-toolbar select {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  height: 25px;
  padding: 0 1.5em 0 1em;
  font-size: 0.9em;
  border: 1px solid #ccc;
  background: url(../../images/select-arrow.png) no-repeat #eee;
  background-size: 1em;
  background-position: right;
  cursor: pointer;
}
#main-image .spectral-image-toolbar span:first-of-type,
#compare-image .spectral-image-toolbar span:first-of-type {
  float: left;
}
#main-image .spectral-image-toolbar span:last-of-type,
#compare-image .spectral-image-toolbar span:last-of-type {
  float: right;
}
#main-image .spectral-image-toolbar .page-download a,
#compare-image .spectral-image-toolbar .page-download a {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 3px 7px;
  margin: auto 4px;
  line-height: normal;
  box-sizing: border-box;
  font-size: 0.85em;
  color: black;
  height: 25px;
  display: inline-block;
}
#main-image .spectral-image-toolbar .page-download a:hover,
#compare-image .spectral-image-toolbar .page-download a:hover,
#main-image .spectral-image-toolbar .page-download a:active,
#compare-image .spectral-image-toolbar .page-download a:active {
  color: black;
}
#main-image .spectral-image-toolbar:after,
#compare-image .spectral-image-toolbar:after {
  clear: both;
}
#main-image .prev-icon,
#compare-image .prev-icon {
  position: absolute;
  top: 40%;
  z-index: 1;
  cursor: pointer;
  background: url("../../images/bg_direction_nav-new.png") no-repeat #F2F2F2;
  border: 1px solid #eee;
  height: 60px;
  width: 30px;
  background-size: 50px 120px;
  left: 0;
  background-position: 0 0;
  border-radius: 0px 6px 6px 0px;
}
#main-image .next-icon,
#compare-image .next-icon {
  position: absolute;
  top: 40%;
  z-index: 1;
  cursor: pointer;
  background: url("../../images/bg_direction_nav-new.png") no-repeat #F2F2F2;
  border: 1px solid #eee;
  height: 60px;
  width: 30px;
  background-size: 50px 120px;
  right: 0;
  background-position: 100% 0;
  border-radius: 6px 0px 0px 6px;
}
#viewer.compare #main-image .next-icon {
  display: none;
}
#viewer.compare #compare-image .prev-icon {
  display: none;
}
#viewer.compare #compare-image span:first-of-type {
  float: right;
}
#viewer.compare .page-download {
  display: none;
}
#restricted-message-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
}
#restricted-message-wrapper #restricted-message {
  position: relative;
  background-color: white;
  margin: auto auto;
  max-width: 500px;
  padding: 1.5em;
}
#restricted-message-wrapper #restricted-message h1 {
  font-family: Crimson Text, serif;
  font-size: 1.75em;
  font-weight: 600;
  margin: 0;
  line-height: normal;
}
#restricted-message-wrapper #restricted-message hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  margin: 0.5em 0 0.5em;
}
#restricted-message-wrapper #restricted-message p {
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
  margin: 0;
}
