#openseadragon {
  width: 100%;
  height: 100%;
  position: fixed !important;
  background-color: black;
  z-index: 100;
  &.item-details-open.transcription-open {
    display: none;
  }
  &.item-details-open {
    width: 50%;
    right: 0px;
  }
  &.transcription-open {
    width: 50%;
    left: 0px;
  }
  .side-nav() {
    position: absolute;
    top: 40%;
    z-index: 200;
    cursor: pointer;
    background: url("../../images/bg_direction_nav-new.png") no-repeat #F2F2F2;
    border: 1px solid #eee;
    height: 60px;
    width: 30px;
    background-size: 50px 120px;
  }
  .prev-icon {
    .side-nav;
    left: 0;
    background-position: 0 0;
    border-radius: 0px 6px 6px 0px;
  }
  .next-icon {
    .side-nav;
    right: 0;
    background-position: 100% 0;
    border-radius: 6px 0px 0px 6px;
  }
}

#restricted-message-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  #restricted-message {
    position: relative;
    background-color: white;
    margin: auto auto;
    max-width: 500px;
    padding: 1em;
    h1 {
      font-family: Crimson Text, serif;
      font-size: 1.75em;
      font-weight: 600;
      margin: 0;
      line-height: normal;
    }
    hr {
      border: solid rgba(0, 0, 0, 0.2);
      border-width: 1px 0 0;
      margin: 0.5em 0 0.5em;
    }
    p {
      font-family: Source Sans Pro, sans-serif;
      font-size: 0.9em;
      padding: 0.5em 0 0 0;
      margin: 0;
    }
  }
}