#item-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background-color: #ffffff;
}
#item-details .item-details-content {
  padding: 1em 1em 1em;
}
@media only screen and (min-width: 768px) {
  #item-details .item-details-content {
    padding: 1em 2em 2em;
  }
}
@media only screen and (min-width: 1024px) {
  #item-details .item-details-content {
    padding: 1em 3em 3em;
  }
}
#item-details h1 {
  font-family: Crimson Text, serif;
  font-size: 1.75em;
  font-weight: 600;
  margin: 0.5em 0 0;
}
#item-details h1:nth-of-type(2) {
  margin: 1.5em 0 0;
}
#item-details hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  margin: 0.5em 0 0.5em;
}
#item-details dt,
#item-details dd {
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
}
#item-details dt.download a,
#item-details dd.download a,
#item-details dt.download .open-download-model,
#item-details dd.download .open-download-model {
  margin: 0 0.5em;
  vertical-align: middle;
  color: #428bca;
  cursor: pointer;
}
#item-details dt.download a:hover,
#item-details dd.download a:hover,
#item-details dt.download .open-download-model:hover,
#item-details dd.download .open-download-model:hover {
  color: #428bca;
}
#item-details dt.download .download-size,
#item-details dd.download .download-size {
  display: inline-block;
  color: #808080;
  font-size: 0.8em;
  vertical-align: middle;
}
#item-details dt {
  font-weight: bold;
}
#item-details dt::after {
  content: ":";
}
#item-details dl dt {
  display: inline-block;
}
#item-details dl dd {
  display: inline;
}
#item-details dl dd:after {
  display: block;
  content: '';
}
#item-details i {
  font-style: italic;
}
