.slideout-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border-right: 2px solid #EEE;
  position: fixed;
  top: 0;
  left: -190px;
  width: 190px;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
  font-size: 14px;
}
.slideout-menu .contextual-links-wrapper {
  display: none;
}
.slideout-menu h3 {
  color: #999;
  text-align: center;
  font-size: .9em;
  font-weight: 400;
  margin: 40px 0;
}
.slideout-menu h3 .slideout-menu-toggle {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  color: black;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  padding: 1px 4px;
  font-size: 0.8em;
}
.slideout-menu .topmenu .menu li {
  text-align: center;
  margin: 20px auto;
  line-height: 20px;
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}
.slideout-menu .topmenu .menu li ul.menu {
  display: none;
}
.slideout-menu .topmenu .menu li a {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 12.4px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.slideout-menu .topmenu .menu li:nth-child(1) {
  background-color: #99cc99;
}
.slideout-menu .topmenu .menu li:nth-child(2) {
  background-color: #F7C983;
}
.slideout-menu .topmenu .menu li:nth-child(3) {
  background-color: #a48bc2;
}
.slideout-menu .topmenu .menu li:nth-child(4) {
  background-color: #99ccff;
}
.slideout-menu .topmenu .menu li:nth-child(5) {
  background-color: #cc9999;
}
.slideout-menu .topmenu .menu li:nth-child(6) {
  background-color: #cccc99;
}
.slideout-menu .topmenu .menu li:hover {
  background: #ccc;
}
.slideout-menu .upperexternal3 {
  display: block;
  text-align: center;
}
.slideout-menu .upperexternal3 .leaf {
  display: inline-block;
  margin: 0 4px;
}
.slideout-menu .upperexternal3 .homelink a {
  color: #3e5b97;
  display: block;
  font-size: 25px;
}
.slideout-menu .upperexternal3 .email a {
  color: #506777;
  display: block;
  font-size: 22px;
}
.slideout-menu .upperexternal3 .wp a {
  color: #3e5b97;
  display: block;
  font-size: 22px;
}
.slideout-menu .upperexternal3 .pith a {
  color: #666;
  display: block;
  font-size: 22px;
}
