@import '_utilities';
@root: "../..";
@images: "@{root}/images";
@social: "@{images}/viewer/social";
@icon-size: 25px;
@icon-padding: 3px 7px;
@icon-margin: 6px;
@icon-group-margin: 0 @icon-margin;

.share-icon(@image, @over-image) {
  background: url("@{social}/@{image}") no-repeat scroll 0 0 transparent !important;
  background-size: @icon-size !important;
  &:hover {
    background: url("@{social}/@{over-image}") no-repeat scroll 0 0 transparent !important;
    background-size: @icon-size !important
  }
}

#toolbar {
  .box-sizing;
  .flex;
  .responsive-padding(2px 4px, 2px 4px, 2px 6px);
  width: ~"calc(100% - 25px)";
  @media only screen and (max-width: 562px) {
    & {
      width: 100%;
    }
  }
  // Leave space for close icon.
  text-align: center;
  background-color: white;
  overflow: hidden;
  justify-content: center;
  .icon-group {
    margin: 4px 3px;
    display: inline-block;
  }
  a,
  a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none
  }
  .icon {
    .border-radius(6px);
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ccc;
    padding: @icon-padding;
    margin: auto 4px;
    line-height: normal;
  }
  .disabled {
    color: darkgray !important;
  }
  .share {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    //line-height: 26px;
    &> * {
      margin: 0 5px;
    }
    a {
      margin: 0 8px 0 5px;
    }
    .home {
      .share-icon("trans-social-home-28.png", "trans-over-social-home-28.png");
      display: inline-block;
      height: 28px;
      width: 28px;
    }
    span:empty:before {
      content: "\200b"; // unicode zero width space character
    }
    // Overwrite the share this css.
    .stButton {
      position: inherit;
      z-index: inherit;
      text-decoration: none;
      color: black;
      display: inherit;
      cursor: inherit;
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      .stLarge {
        height: @icon-size;
        width: @icon-size;
      }
    }
    .st_twitter_large .stLarge {
      .share-icon("trans-social-twitter-28.png", "trans-over-social-twitter-28.png");
    }
    .st_pinterest_large .stLarge {
      .share-icon("trans-social-pinterest-28.png", "trans-over-social-pinterest-28.png");
    }
    .st_email_large .stLarge {
      .share-icon("trans-social-email-28.png", "trans-over-social-email-28.png");
    }
    .st_facebook_large .stLarge {
      .share-icon("trans-social-fb-28.png", "trans-over-social-fb-28.png");
      margin: 0 1px;
    }
  }
  .ui-slider {
    display: inline-block;
    width: 150px;
    top: 3px;
    margin: 0 10px;
  }
  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus {
    border: 1px solid #386095;
    background: #428bca url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #c77405;
  }
  .item-details,
  .transcription {
    .box-sizing;
    height: @icon-size;
    font-size: 0.85em;
  }
  .depressed {
    background-color: #999;
  }
  .viewer-tooltip .viewer-tooltip-text {
    visibility: hidden;
    font-size: 0.85em;
    color: black;
    text-align: center;
    border-radius: 8px;
    padding: 1em;
    position: absolute;
    z-index: 1000;
    box-sizing: initial;
    border-color: black;
    background: none repeat scroll 0 0 #eee;
    top: 50px;
    @media only screen and (max-width: 1146px) {
      & {
        top: 75px;
      }
    }
    @media only screen and (max-width: 605px) {
      & {
        top: 110px;
      }
    }
    @media only screen and (max-width: 583px) {
      & {
        top: 140px;
      }
    }
  }

  .viewer-tooltip.hover .viewer-tooltip-text {
    visibility: visible;
  }

  select.page-select {
    .border-radius;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    height: 25px;
    padding: 0 1.5em 0 1em;
    font-size: 0.9em;
    border: 1px solid #ccc;
    background: url(../../images/select-arrow.png) no-repeat #eee;
    background-size: 1em;
    background-position: right;
    cursor: pointer;

  }
  // Search.
  input[type=text] {
    .box-sizing;
    .border-radius(7px);
    background: url('@{images}/search-button.png') no-repeat 1px 1px white;
    padding: 5px 15px 5px 40px;
    border: 1px solid #d0d0d0;
    height: @icon-size;
    width: 250px;
    font-size: 0.85em;
  }
  .close {
    position: absolute;
    z-index: 1;
    font-size: 0.9em;
    font-weight: initial;
    line-height: initial;
    opacity: 1;
    height: 25px;
    order: 99;
    top: 6px;
    right: 5px;
  }
}
