@import '_reset';
@import '_modal';
@import '_slideout-menu';
@import '_toolbar';
@import '_item-details';
@import '_transcription';
@import '_image';

html {
  height: 100%;
}

body {
  width: 100%;
  height:100%;
  margin: 0px;
}

#text-overlay {
  position: absolute;
  overflow: hidden;
}