html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font: 16px/1.6 'Source Sans Pro', sans-serif;
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: initial;
  text-decoration: initial;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000 url('../../images/loading.gif') 50% 50% no-repeat;
}
body.loading {
  overflow: hidden;
}
body.loading .modal {
  display: block;
}
.slideout-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border-right: 2px solid #EEE;
  position: fixed;
  top: 0;
  left: -190px;
  width: 190px;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
  font-size: 14px;
}
.slideout-menu .contextual-links-wrapper {
  display: none;
}
.slideout-menu h3 {
  color: #999;
  text-align: center;
  font-size: .9em;
  font-weight: 400;
  margin: 40px 0;
}
.slideout-menu h3 .slideout-menu-toggle {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  color: black;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  padding: 1px 4px;
  font-size: 0.8em;
}
.slideout-menu .topmenu .menu li {
  text-align: center;
  margin: 20px auto;
  line-height: 20px;
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}
.slideout-menu .topmenu .menu li ul.menu {
  display: none;
}
.slideout-menu .topmenu .menu li a {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 12.4px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.slideout-menu .topmenu .menu li:nth-child(1) {
  background-color: #99cc99;
}
.slideout-menu .topmenu .menu li:nth-child(2) {
  background-color: #F7C983;
}
.slideout-menu .topmenu .menu li:nth-child(3) {
  background-color: #a48bc2;
}
.slideout-menu .topmenu .menu li:nth-child(4) {
  background-color: #99ccff;
}
.slideout-menu .topmenu .menu li:nth-child(5) {
  background-color: #cc9999;
}
.slideout-menu .topmenu .menu li:nth-child(6) {
  background-color: #cccc99;
}
.slideout-menu .topmenu .menu li:hover {
  background: #ccc;
}
.slideout-menu .upperexternal3 {
  display: block;
  text-align: center;
}
.slideout-menu .upperexternal3 .leaf {
  display: inline-block;
  margin: 0 4px;
}
.slideout-menu .upperexternal3 .homelink a {
  color: #3e5b97;
  display: block;
  font-size: 25px;
}
.slideout-menu .upperexternal3 .email a {
  color: #506777;
  display: block;
  font-size: 22px;
}
.slideout-menu .upperexternal3 .wp a {
  color: #3e5b97;
  display: block;
  font-size: 22px;
}
.slideout-menu .upperexternal3 .pith a {
  color: #666;
  display: block;
  font-size: 22px;
}
#toolbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding: 2px 4px;
  width: calc(100% - 25px);
  text-align: center;
  background-color: white;
  overflow: hidden;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  #toolbar {
    padding: 2px 4px;
  }
}
@media only screen and (min-width: 1024px) {
  #toolbar {
    padding: 2px 6px;
  }
}
@media only screen and (max-width: 562px) {
  #toolbar {
    width: 100%;
  }
}
#toolbar .icon-group {
  margin: 4px 3px;
  display: inline-block;
}
#toolbar a,
#toolbar a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
#toolbar .icon {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 3px 7px;
  margin: auto 4px;
  line-height: normal;
}
#toolbar .disabled {
  color: darkgray !important;
}
#toolbar .share {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}
#toolbar .share > * {
  margin: 0 5px;
}
#toolbar .share a {
  margin: 0 8px 0 5px;
}
#toolbar .share .home {
  background: url("../../images/viewer/social/trans-social-home-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
  display: inline-block;
  height: 28px;
  width: 28px;
}
#toolbar .share .home:hover {
  background: url("../../images/viewer/social/trans-over-social-home-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share span:empty:before {
  content: "\200b";
}
#toolbar .share .stButton {
  position: inherit;
  z-index: inherit;
  text-decoration: none;
  color: black;
  display: inherit;
  cursor: inherit;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
#toolbar .share .stButton .stLarge {
  height: 25px;
  width: 25px;
}
#toolbar .share .st_twitter_large .stLarge {
  background: url("../../images/viewer/social/trans-social-twitter-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_twitter_large .stLarge:hover {
  background: url("../../images/viewer/social/trans-over-social-twitter-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_pinterest_large .stLarge {
  background: url("../../images/viewer/social/trans-social-pinterest-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_pinterest_large .stLarge:hover {
  background: url("../../images/viewer/social/trans-over-social-pinterest-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_email_large .stLarge {
  background: url("../../images/viewer/social/trans-social-email-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_email_large .stLarge:hover {
  background: url("../../images/viewer/social/trans-over-social-email-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_facebook_large .stLarge {
  background: url("../../images/viewer/social/trans-social-fb-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
  margin: 0 1px;
}
#toolbar .share .st_facebook_large .stLarge:hover {
  background: url("../../images/viewer/social/trans-over-social-fb-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .ui-slider {
  display: inline-block;
  width: 150px;
  top: 3px;
  margin: 0 10px;
}
#toolbar .ui-state-hover,
#toolbar .ui-widget-content .ui-state-hover,
#toolbar .ui-widget-header .ui-state-hover,
#toolbar .ui-state-focus,
#toolbar .ui-widget-content .ui-state-focus,
#toolbar .ui-widget-header .ui-state-focus {
  border: 1px solid #386095;
  background: #428bca url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #c77405;
}
#toolbar .item-details,
#toolbar .transcription,
#toolbar .compare {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  font-size: 0.85em;
}
#toolbar .depressed {
  background-color: #999;
}
#toolbar .viewer-tooltip .viewer-tooltip-text {
  visibility: hidden;
  font-size: 0.85em;
  color: black;
  text-align: center;
  border-radius: 8px;
  padding: 1em;
  position: absolute;
  z-index: 1000;
  box-sizing: initial;
  border-color: black;
  background: none repeat scroll 0 0 #eee;
  top: 43px;
}
@media only screen and (max-width: 1146px) {
  #toolbar .viewer-tooltip .viewer-tooltip-text {
    top: 75px;
  }
}
@media only screen and (max-width: 605px) {
  #toolbar .viewer-tooltip .viewer-tooltip-text {
    top: 110px;
  }
}
@media only screen and (max-width: 583px) {
  #toolbar .viewer-tooltip .viewer-tooltip-text {
    top: 140px;
  }
}
#toolbar .viewer-tooltip.hover .viewer-tooltip-text {
  visibility: visible;
}
#toolbar select.page-select {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  height: 25px;
  padding: 0 1.5em 0 1em;
  font-size: 0.9em;
  border: 1px solid #ccc;
  background: url(../../images/select-arrow.png) no-repeat #eee;
  background-size: 1em;
  background-position: right;
  cursor: pointer;
}
#toolbar input[type=text] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: url('../../images/search-button.png') no-repeat 1px 1px white;
  padding: 5px 15px 5px 40px;
  border: 1px solid #d0d0d0;
  height: 25px;
  width: 250px;
  font-size: 0.85em;
}
#toolbar .close {
  position: absolute;
  z-index: 1;
  font-size: 0.9em;
  font-weight: initial;
  line-height: initial;
  opacity: 1;
  height: 25px;
  order: 99;
  top: 6px;
  right: 5px;
}
.search-type {
  text-align: left;
  margin-top: 32px;
  background-color: white;
  border-radius: 8px;
  padding: 0.5em;
  padding-left: 0.8em;
  position: absolute;
  width: 250px;
  z-index: 1000;
  box-sizing: border-box;
  border-color: black;
  border: 1px solid #d0d0d0;
  color: #333;
  font-size: 14px;
}
.search-type input {
  margin: 0.5em;
}
#item-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background-color: #ffffff;
}
#item-details .item-details-content {
  padding: 1em 1em 1em;
}
@media only screen and (min-width: 768px) {
  #item-details .item-details-content {
    padding: 1em 2em 2em;
  }
}
@media only screen and (min-width: 1024px) {
  #item-details .item-details-content {
    padding: 1em 3em 3em;
  }
}
#item-details h1 {
  font-family: Crimson Text, serif;
  font-size: 1.75em;
  font-weight: 600;
  margin: 0.5em 0 0;
}
#item-details h1:nth-of-type(2) {
  margin: 1.5em 0 0;
}
#item-details hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  margin: 0.5em 0 0.5em;
}
#item-details dt,
#item-details dd {
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
}
#item-details dt.download a,
#item-details dd.download a,
#item-details dt.download .open-download-model,
#item-details dd.download .open-download-model {
  margin: 0 0.5em;
  vertical-align: middle;
  color: #428bca;
  cursor: pointer;
}
#item-details dt.download a:hover,
#item-details dd.download a:hover,
#item-details dt.download .open-download-model:hover,
#item-details dd.download .open-download-model:hover {
  color: #428bca;
}
#item-details dt.download .download-size,
#item-details dd.download .download-size {
  display: inline-block;
  color: #808080;
  font-size: 0.8em;
  vertical-align: middle;
}
#item-details dt {
  font-weight: bold;
}
#item-details dt::after {
  content: ":";
}
#item-details dl dt {
  display: inline-block;
}
#item-details dl dd {
  display: inline;
}
#item-details dl dd:after {
  display: block;
  content: '';
}
#item-details i {
  font-style: italic;
}
#transcription {
  width: 100%;
  height: 100%;
}
#transcription iframe {
  width: 100%;
  height: 100%;
}
#downloads {
  position: fixed;
  overflow: scroll;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 200;
}
#downloads .downloads-content {
  padding: 1em 1em 1em;
}
@media only screen and (min-width: 768px) {
  #downloads .downloads-content {
    padding: 1em 2em 2em;
  }
}
@media only screen and (min-width: 1024px) {
  #downloads .downloads-content {
    padding: 1em 4em 3em;
  }
}
#downloads .close {
  position: absolute;
  z-index: 1;
  font-size: 0.9em;
  font-weight: initial;
  line-height: initial;
  opacity: 1;
  height: 25px;
  order: 99;
  top: 20px;
  right: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 3px 7px;
  margin: auto 4px;
}
#downloads h1,
#downloads h2 {
  color: #000;
  font-family: 'Crimson Text', serif;
  text-align: center;
}
#downloads h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 120%;
  margin: 20px 20% 0 20%;
}
#downloads h2 {
  font-size: 1em;
  font-style: italic;
}
#downloads p {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  width: 95%;
}
#downloads ul {
  margin: 0 auto;
  width: 50%;
}
#downloads ul li {
  text-align: center;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
#downloads ul li a,
#downloads ul li a:visited,
#downloads ul li a:hover {
  color: #428bca;
}
#downloads ul li span {
  color: #808080;
  font-size: 0.8em;
  vertical-align: text-bottom;
}
#main-image .spectral-image-toolbar,
#compare-image .spectral-image-toolbar {
  position: absolute;
  z-index: 1;
  padding: 20px 60px;
  width: 100%;
}
#main-image .spectral-image-toolbar select,
#compare-image .spectral-image-toolbar select {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  height: 25px;
  padding: 0 1.5em 0 1em;
  font-size: 0.9em;
  border: 1px solid #ccc;
  background: url(../../images/select-arrow.png) no-repeat #eee;
  background-size: 1em;
  background-position: right;
  cursor: pointer;
}
#main-image .spectral-image-toolbar span:first-of-type,
#compare-image .spectral-image-toolbar span:first-of-type {
  float: left;
}
#main-image .spectral-image-toolbar span:last-of-type,
#compare-image .spectral-image-toolbar span:last-of-type {
  float: right;
}
#main-image .spectral-image-toolbar .page-download a,
#compare-image .spectral-image-toolbar .page-download a {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 3px 7px;
  margin: auto 4px;
  line-height: normal;
  box-sizing: border-box;
  font-size: 0.85em;
  color: black;
  height: 25px;
  display: inline-block;
}
#main-image .spectral-image-toolbar .page-download a:hover,
#compare-image .spectral-image-toolbar .page-download a:hover,
#main-image .spectral-image-toolbar .page-download a:active,
#compare-image .spectral-image-toolbar .page-download a:active {
  color: black;
}
#main-image .spectral-image-toolbar:after,
#compare-image .spectral-image-toolbar:after {
  clear: both;
}
#main-image .prev-icon,
#compare-image .prev-icon {
  position: absolute;
  top: 40%;
  z-index: 1;
  cursor: pointer;
  background: url("../../images/bg_direction_nav-new.png") no-repeat #F2F2F2;
  border: 1px solid #eee;
  height: 60px;
  width: 30px;
  background-size: 50px 120px;
  left: 0;
  background-position: 0 0;
  border-radius: 0px 6px 6px 0px;
}
#main-image .next-icon,
#compare-image .next-icon {
  position: absolute;
  top: 40%;
  z-index: 1;
  cursor: pointer;
  background: url("../../images/bg_direction_nav-new.png") no-repeat #F2F2F2;
  border: 1px solid #eee;
  height: 60px;
  width: 30px;
  background-size: 50px 120px;
  right: 0;
  background-position: 100% 0;
  border-radius: 6px 0px 0px 6px;
}
#viewer.compare #main-image .next-icon {
  display: none;
}
#viewer.compare #compare-image .prev-icon {
  display: none;
}
#viewer.compare #compare-image span:first-of-type {
  float: right;
}
#viewer.compare .page-download {
  display: none;
}
#restricted-message-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
}
#restricted-message-wrapper #restricted-message {
  position: relative;
  background-color: white;
  margin: auto auto;
  max-width: 500px;
  padding: 1.5em;
}
#restricted-message-wrapper #restricted-message h1 {
  font-family: Crimson Text, serif;
  font-size: 1.75em;
  font-weight: 600;
  margin: 0;
  line-height: normal;
}
#restricted-message-wrapper #restricted-message hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  margin: 0.5em 0 0.5em;
}
#restricted-message-wrapper #restricted-message p {
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
#viewer {
  border-top: 1px solid black;
}
#text-overlay {
  position: absolute;
  overflow: hidden;
}
@media only screen and (max-width: 568px) {
  #item-details,
  #transcription {
    width: 100%;
    border-left: 0;
    border-right: 0;
  }
  #openseadragon.item-details-open,
  #openseadragon.transcription-open {
    display: none;
  }
}
#main-image,
#compare-image {
  height: 100%;
}
#viewer:not(.compare) .main-image.pane-left .spectral-image-toolbar,
#viewer:not(.compare) .main-image.pane-right .spectral-image-toolbar {
  text-align: center;
}
#viewer:not(.compare) .main-image.pane-left .spectral-image-toolbar span:first-of-type,
#viewer:not(.compare) .main-image.pane-right .spectral-image-toolbar span:first-of-type {
  float: none !important;
}
#viewer:after {
  clear: both;
}
@media only screen and (max-width: 568px) {
  #toolbar .icon.compare {
    display: none;
  }
}
.pane {
  height: 100%;
}
.pane:not(.pane-open) {
  display: none;
}
.pane.pane-left,
.pane.pane-right {
  width: 50%;
}
.pane.pane-right {
  float: right;
  border-left: 1px solid black;
}
.pane.pane-left {
  float: left;
}
.pane.item-details {
  overflow: scroll;
}
.pane.pane-left.main-image .page-download,
.pane.pane-right.main-image .page-download {
  display: none;
}
.pane.main-image,
.pane.compare-image,
.pane.restricted {
  height: 100%;
  background-color: black;
}
@media only screen and (max-width: 568px) {
  .pane.pane-left,
  .pane.pane-right {
    width: 100%;
    float: none;
  }
  .pane .spectral-image-toolbar {
    text-align: center;
  }
  .pane .spectral-image-toolbar span:first-of-type {
    float: none !important;
  }
  .pane .spectral-image-toolbar .page-download {
    display: none;
  }
}
