html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font: 16px/1.6 'Source Sans Pro', sans-serif;
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: initial;
  text-decoration: initial;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000 url('../../images/loading.gif') 50% 50% no-repeat;
}
body.loading {
  overflow: hidden;
}
body.loading .modal {
  display: block;
}
.slideout-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border-right: 2px solid #EEE;
  position: fixed;
  top: 0;
  left: -190px;
  width: 190px;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
  font-size: 14px;
}
.slideout-menu .contextual-links-wrapper {
  display: none;
}
.slideout-menu h3 {
  color: #999;
  text-align: center;
  font-size: .9em;
  font-weight: 400;
  margin: 40px 0;
}
.slideout-menu h3 .slideout-menu-toggle {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  color: black;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  padding: 1px 4px;
  font-size: 0.8em;
}
.slideout-menu .menu li {
  text-align: center;
  margin: 20px auto;
  line-height: 20px;
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}
.slideout-menu .menu li ul.menu {
  display: none;
}
.slideout-menu .menu li a {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 12.4px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.slideout-menu .menu li:nth-child(1) {
  background-color: #99cc99;
}
.slideout-menu .menu li:nth-child(2) {
  background-color: #F7C983;
}
.slideout-menu .menu li:nth-child(3) {
  background-color: #a48bc2;
}
.slideout-menu .menu li:nth-child(4) {
  background-color: #99ccff;
}
.slideout-menu .menu li:nth-child(5) {
  background-color: #cc9999;
}
.slideout-menu .menu li:nth-child(6) {
  background-color: #cccc99;
}
.slideout-menu .menu li:hover {
  background: #ccc;
}
#toolbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px;
  border-style: solid;
  padding: 10px;
  /*.icon-group {
    display: inline;
    margin: 5px 5px;
    //&:nth-of-type(1){
    //  @media only screen and (max-width : 768px) {
    //    display: block;
    //  }
    //}
    //&:nth-of-type(2){
    //  @media only screen and (max-width : 768px) {
    //    display: block;
    //  }
    //}
    &:nth-of-type(3){
      @media only screen and (max-width : 768px) {
        display: block;
      }
    }
    &:nth-of-type(4){
      @media only screen and (max-width : 768px) {
        display: inline;
      }
    }
  }*/
}
#toolbar > span {
  padding: 5px;
}
#toolbar a,
#toolbar a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
#toolbar .icon {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 2px 4px;
  height: 25px;
  line-height: normal;
}
#toolbar .disabled {
  color: darkgray !important;
}
#toolbar .side-menu {
  display: inline-block;
}
#toolbar .share {
  padding-left: 10px;
}
#toolbar .share .home {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url("../../images/viewer/social/trans-social-home-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .home:hover {
  background: url("../../images/viewer/social/trans-over-social-home-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share span:empty:before {
  content: "\200b";
}
#toolbar .share .stButton {
  position: inherit;
  z-index: inherit;
  text-decoration: none;
  color: black;
  display: inherit;
  cursor: inherit;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
#toolbar .share .stButton .stLarge {
  height: 25px;
  width: 25px;
}
#toolbar .share .st_twitter_large .stLarge {
  background: url("../../images/viewer/social/trans-social-twitter-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_twitter_large .stLarge:hover {
  background: url("../../images/viewer/social/trans-over-social-twitter-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_pinterest_large .stLarge {
  background: url("../../images/viewer/social/trans-social-pinterest-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_pinterest_large .stLarge:hover {
  background: url("../../images/viewer/social/trans-over-social-pinterest-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_email_large .stLarge {
  background: url("../../images/viewer/social/trans-social-email-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_email_large .stLarge:hover {
  background: url("../../images/viewer/social/trans-over-social-email-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_facebook_large .stLarge {
  background: url("../../images/viewer/social/trans-social-fb-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .share .st_facebook_large .stLarge:hover {
  background: url("../../images/viewer/social/trans-over-social-fb-28.png") no-repeat scroll 0 0 transparent !important;
  background-size: 25px !important;
}
#toolbar .zoom .ui-slider {
  display: inline-block;
  width: 100px;
  top: 3px;
  margin: 0 10px;
}
#toolbar .item-details .icon,
#toolbar .transcription .icon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  font-size: 0.85em;
}
#toolbar .item-details .depressed,
#toolbar .transcription .depressed {
  background-color: #999;
}
#toolbar .search {
  display: inline-block;
}
#toolbar .search input[type=text] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: url('../../images/search-button.png') no-repeat 1px 1px #F0ECEC;
  padding: 5px 15px 5px 30px;
  border: 1px solid #d0d0d0;
  height: 25px;
  width: 200px;
}
#toolbar .close {
  float: none;
  z-index: 1;
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: Arial, sans-serif;
  padding: 1px 4px;
  font-size: 0.8em;
  font-weight: initial;
  line-height: initial;
  opacity: 1;
  height: auto;
}
#item-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.95);
  border-right: solid 1px;
  position: absolute;
  left: 0px;
  z-index: 1;
  height: 300px;
  width: 50%;
}
#item-details .item-details-content {
  padding: 1em 3em 3em;
}
#item-details h1 {
  font-family: Crimson Text, serif;
  font-size: 1.75em;
  font-weight: 600;
  margin: 0.5em 0 0;
}
#item-details h1:nth-of-type(2) {
  margin: 1.5em 0 0;
}
#item-details hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  margin: 0.5em 0 0.5em;
}
#item-details dt,
#item-details dd {
  fonti-family: Source Sans Pro, sans-serif;
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
}
#item-details dt {
  font-weight: bold;
}
#item-details dt::after {
  content: ":";
}
#item-details dl dt {
  display: inline-block;
}
#item-details dl dd {
  display: inline;
}
#item-details dl dd:after {
  display: block;
  content: '';
}
#item-details i {
  font-style: italic;
}
#transcription {
  position: absolute;
  right: 0px;
  z-index: 1;
  height: 300px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.95);
  white-space: nowrap;
}
#openseadragon {
  width: 100%;
  height: 100%;
  position: fixed !important;
  background-color: black;
  z-index: 100;
}
#openseadragon.item-details-open.transcription-open {
  display: none;
}
#openseadragon.item-details-open {
  width: 50%;
  right: 0px;
}
#openseadragon.transcription-open {
  width: 50%;
  left: 0px;
}
#openseadragon .prev-icon {
  position: absolute;
  top: 40%;
  z-index: 200;
  cursor: pointer;
  background: url("../../images/bg_direction_nav-new.png") no-repeat #F2F2F2;
  border: 1px solid #eee;
  height: 60px;
  width: 30px;
  background-size: 50px 120px;
  left: 0;
  background-position: 0 0;
  border-radius: 0px 6px 6px 0px;
}
#openseadragon .next-icon {
  position: absolute;
  top: 40%;
  z-index: 200;
  cursor: pointer;
  background: url("../../images/bg_direction_nav-new.png") no-repeat #F2F2F2;
  border: 1px solid #eee;
  height: 60px;
  width: 30px;
  background-size: 50px 120px;
  right: 0;
  background-position: 100% 0;
  border-radius: 6px 0px 0px 6px;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
