@import "_utilities";

#downloads {
  position: fixed;
  overflow-y: auto;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 200;
  .downloads-content {
    .responsive-padding(3em 1em 1em, 3em 2em 2em, 3em 4em 3em);
    max-width: 800px;
    margin: auto;
  }
  .downloads-lists {
    .flexbox(space-around, row, wrap);
    width: 75%;
    margin: 0 auto;
  }
  .close {
    .item();
    position: absolute;
    font-size: 0.875em;
    // Position must match #toolbar padding and the icon-group margin.
    top: 10px;
    right: 5px;
    opacity: 1;
    // In the case of overlap show above the other element.
    z-index: 1;
  }
  h1, h2 {
    color: #000;
    font-family: 'Crimson Text', serif;
    text-align: center;
  }
  h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 120%;
  }
  h2 {
    font-size: 1em;
    font-style: italic;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0 solid rgba(0, 0, 0, 0.2);
    border-top-width: 1px;
    font-family: "Crimson Text",serif;
    font-weight: bold;
  }
  p {
    font-family: "Crimson Text",serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
    width: 95%;
  }
  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    li {
      text-align: center;
      margin: 0 auto;
      font-family: 'Crimson Text', serif;
      font-size: 16px;
      a, a:visited, a:hover {
        color: #428bca;
        text-decoration: none;
      }
      span {
        color: #808080;
        font-size: 0.8em;
        vertical-align: text-bottom;
      }
    }
  }
}