/*
.icon() {
  display: inline-block;
  //height: @icon-height;
  //line-height: @icon-height;
  vertical-align: middle;
  margin: @icon-margin;
  color: #333;
}

.button() {
  .border-radius(@button-radius);
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: @button-padding;
  // Line height should account for the border used in button display.
  //line-height: @icon-height - 2;
}*/
/*
.select() {
  .appearance(none);
  padding-right: 20px !important;
  background: url(../images/select-arrow.png) no-repeat #eee !important;
  background-size: 1em !important;
  background-position: right !important;
  font-family: Source Sans Pro, sans-serif;
}*/
/* line 1, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_loading.less */
.loading-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000 url('../images/loading.gif') 50% 50% no-repeat;
}
/* line 14, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_loading.less */
body.loading {
  overflow: hidden;
}
/* line 17, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_loading.less */
body.loading .loading-modal {
  display: block;
}
/* line 9, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*
  // Close icon position must match #toolbar padding.
  padding: 2px @close-icon-width + 5 2px 5px;
  // Once the tool bar is only the side-menu and share links.
  @media (max-width : 500px) {
    padding: 2px 2px;
  }
  @media only screen and (max-width : @split-pane-max-width) {
    // Don't display compare when split screen is not usable.
    .icon.compare {
      display: none;
    }
  }
  margin: 0 auto;
  text-align: center;
  a,
  a:hover {
    color: #333;
    cursor: pointer;
    text-decoration: none;
  }
  .pager {
    .select;
  }
  .pager-icon {
    position: relative;
    left: -20px;
  }
  .links {
    li {
      margin: 0 5px;
    }
    a {
      // Make the text the full size of the icon.
      //font-size: @icon-height;
      //line-height: @icon-height;
      &:hover {
        color: #666666;
      }
    }
  }
  .home {
    color: #3E5B97;
  }
  .email {
    color: #6E8C8C;
  }
  .facebook {
    color: #2E5894;
  }
  .twitter {
    color: #00ADCF;
  }
  .pinterest {
    color: #CD1D20;
  }
  .depressed {
    background-color: #999;
  }
  // Override the default to prevent highlighting.
  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus {
    border: 1px solid #386095;
    background: #428bca;
    font-weight: bold;
    color: #c77405;
  }

  // Search form.
  /*
  form {
    display: inline-block;
    input[type=text] {
      .box-sizing;
      .border-radius(7px);
      background: url('@{images}/search-button.png') no-repeat 1px 1px white;
      padding: 5px 10px 5px 35px;
      margin: @icon-margin;
      border: 1px solid #d0d0d0;
      height: @icon-height;
      width: 190px;
      font-size: 14.4px;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }*/
}
@media (min-width: 480px) {
  /* line 14, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
  #toolbar {
    padding-right: 25px;
  }
}
/* line 17, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar a,
#toolbar a:hover,
#toolbar a:focus {
  text-decoration: none;
}
/* line 22, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .slideout-menu-toggle {
  margin: 10px 5px;
}
/* line 26, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .links a {
  font-size: 25px;
  margin: 10px 5px;
}
/* line 33, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .zoom {
  margin: 10px 5px;
}
/* line 35, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .zoom .ui-state-hover,
#toolbar .zoom .ui-widget-content .ui-state-hover,
#toolbar .zoom .ui-widget-header .ui-state-hover,
#toolbar .zoom .ui-state-focus,
#toolbar .zoom .ui-widget-content .ui-state-focus,
#toolbar .zoom .ui-widget-header .ui-state-focus {
  border: 1px solid #386095;
  background: #428bca;
  font-weight: bold;
  color: #c77405;
}
/* line 46, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .zoom .ui-slider {
  display: inline-block;
  width: 150px;
  margin: 0 10px;
  top: 0.1em;
}
/* line 53, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .zoom a {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 4px 8px;
  color: black;
}
/* line 57, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .page-select {
  max-width: 80px;
  margin: 10px 5px;
}
/* line 60, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .page-select .filter-option {
  width: 80%;
}
/* line 64, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .page-select button {
  padding: 2px 12px;
  border-radius: 7px;
}
/* line 69, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .panes {
  margin: 10px 5px;
}
/* line 71, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .panes .fa {
  display: inline;
}
/* line 75, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .panes .disabled {
  color: darkgray !important;
}
/* line 78, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .panes .depressed {
  background-color: #999;
}
/* line 81, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .panes a {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 4px 8px;
  color: black;
  text-decoration: none;
}
/* line 86, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .search {
  margin: 10px 5px;
}
/* line 89, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .close {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 4px 8px;
  color: black;
  position: absolute;
  font-size: 0.875em;
  top: 10px;
  right: 5px;
  opacity: 1;
  z-index: 1;
}
/* line 99, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
#toolbar .item-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  /* line 107, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
  #toolbar .compare {
    display: none;
  }
}
/*
.search-type {
  text-align: left;
  margin-top: 32px;
  background-color: white;
  border-radius: 8px;
  padding: 0.5em;
  padding-left: 0.8em;
  position: absolute;
  width: 250px;
  z-index: 1000;
  box-sizing: border-box;
  border-color: black;
  border: 1px solid rgb(208, 208, 208);
  color: #333;
  font-size: 14px;
}*/
/* line 222, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
.transcription-tooltip .transcription-tooltip-text {
  visibility: hidden;
  font-size: 0.85em;
  color: black;
  text-align: center;
  border-radius: 8px;
  padding: 1em;
  position: absolute;
  z-index: 1000;
  box-sizing: initial;
  border-color: black;
  background: none repeat scroll 0 0 #eee;
  top: 43px;
}
@media only screen and (max-width: 1146px) {
  /* line 235, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
  .transcription-tooltip .transcription-tooltip-text {
    top: 75px;
  }
}
@media only screen and (max-width: 605px) {
  /* line 240, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
  .transcription-tooltip .transcription-tooltip-text {
    top: 110px;
  }
}
@media only screen and (max-width: 583px) {
  /* line 245, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
  .transcription-tooltip .transcription-tooltip-text {
    top: 140px;
  }
}
/* line 252, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_toolbar.less */
.transcription-tooltip.hover .transcription-tooltip-text {
  visibility: visible;
}
/* line 3, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
#panels {
  border-top: 1px solid black;
}
/* line 7, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
#panels.compare .pane-right {
  border-left: 1px solid white;
}
/* line 10, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
#panels.compare .pane-left {
  border-left: 1px solid white;
}
/* line 16, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane {
  height: 100%;
}
/* line 18, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane:not(.pane-open) {
  display: none;
}
/* line 21, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane.pane-left,
.pane.pane-right {
  width: 50%;
}
/* line 25, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane.pane-right {
  float: right;
  border-left: 1px solid black;
}
/* line 29, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane.pane-left {
  float: left;
  border-left: 1px solid black;
}
/* line 33, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane.item-details {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
/* line 37, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane.transcription {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
/* line 41, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane.main-image,
.pane.compare-image,
.pane.restricted {
  height: 100%;
  background-color: black;
}
/* line 47, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
.pane.compare-image {
  border-left: 2px solid white;
}
@media only screen and (max-width: 850px) {
  /* line 52, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
  .pane .page-download {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 58, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
  .pane.pane-left,
  .pane.pane-right {
    width: 100%;
    float: none;
  }
  /* line 66, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
  .pane.pane-open ~ .pane.pane-open {
    display: none;
  }
  /* line 69, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_pane.less */
  .pane .spectral-image-toolbar {
    text-align: center;
  }
}
/* line 3, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background-color: #ffffff;
}
/* line 13, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details .item-details-content {
  padding: 1em 1em 1em;
}
@media only screen and (min-width: 768px) {
  /* line 111, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_utilities.less */
  #item-details .item-details-content {
    padding: 1em 2em 2em;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 117, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_utilities.less */
  #item-details .item-details-content {
    padding: 1em 3em 3em;
  }
}
/* line 16, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details h1 {
  font-family: Crimson Text, serif;
  font-size: 1.75em;
  font-weight: 600;
  margin: 0.5em 0 0;
}
/* line 22, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details h1:nth-of-type(2) {
  margin: 1.5em 0 0;
}
/* line 25, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  margin: 0.5em 0 0.5em;
}
/* line 30, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dt,
#item-details dd {
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
}
/* line 36, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dt.download a,
#item-details dd.download a,
#item-details dt.download .open-download-model,
#item-details dd.download .open-download-model {
  margin: 0 0.5em;
  vertical-align: middle;
  color: #428bca;
  cursor: pointer;
}
/* line 42, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dt.download a:hover,
#item-details dd.download a:hover,
#item-details dt.download .open-download-model:hover,
#item-details dd.download .open-download-model:hover {
  color: #428bca;
}
/* line 46, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dt.download .download-size,
#item-details dd.download .download-size {
  display: inline-block;
  color: #808080;
  font-size: 0.8em;
  vertical-align: middle;
}
/* line 54, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dt {
  font-weight: bold;
}
/* line 56, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dt::after {
  content: ":";
}
/* line 61, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dl dt {
  display: inline-block;
}
/* line 64, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dl dd {
  display: inline;
}
/* line 66, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details dl dd:after {
  display: block;
  content: '';
}
/* line 72, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details i {
  font-style: italic;
}
/* line 75, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_item-details.less */
#item-details a {
  text-decoration: none;
}
/* line 3, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image,
#compare-image {
  height: 100%;
}
/* line 6, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image .image-toolbar,
#compare-image .image-toolbar {
  position: absolute;
  padding: 5px 10px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
/* line 12, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image .image-toolbar .spectral-image,
#compare-image .image-toolbar .spectral-image {
  max-width: 30%;
}
@media only screen and (max-width: 900px) {
  /* line 15, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
  #main-image .image-toolbar .spectral-image,
  #compare-image .image-toolbar .spectral-image {
    max-width: 60%;
  }
}
@media only screen and (max-width: 400px) {
  /* line 19, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
  #main-image .image-toolbar .spectral-image,
  #compare-image .image-toolbar .spectral-image {
    max-width: 30%;
  }
}
/* line 22, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image .image-toolbar .spectral-image .filter-option,
#compare-image .image-toolbar .spectral-image .filter-option {
  width: 80%;
}
/* line 26, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image .image-toolbar .spectral-image button,
#compare-image .image-toolbar .spectral-image button {
  padding: 2.5px 12px;
}
/* line 30, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image .image-toolbar a.button,
#compare-image .image-toolbar a.button,
#main-image .image-toolbar a.button:hover,
#compare-image .image-toolbar a.button:hover {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 4px 8px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 900px) {
  /* line 39, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
  #main-image .image-toolbar .download,
  #compare-image .image-toolbar .download {
    display: none;
  }
}
/* line 44, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image .image-toolbar .download .fa,
#compare-image .image-toolbar .download .fa {
  font-size: 0.85em;
}
/* line 60, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image .prev-icon,
#compare-image .prev-icon {
  position: absolute;
  top: 40%;
  z-index: 1;
  cursor: pointer;
  background: url("../images/navigation.png") no-repeat #F2F2F2;
  border: 1px solid #eee;
  height: 60px;
  width: 30px;
  background-size: 50px 120px;
  left: 0;
  background-position: 0 0;
  border-radius: 0px 6px 6px 0px;
}
/* line 66, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#main-image .next-icon,
#compare-image .next-icon {
  position: absolute;
  top: 40%;
  z-index: 1;
  cursor: pointer;
  background: url("../images/navigation.png") no-repeat #F2F2F2;
  border: 1px solid #eee;
  height: 60px;
  width: 30px;
  background-size: 50px 120px;
  right: 0;
  background-position: 100% 0;
  border-radius: 6px 0px 0px 6px;
}
/* line 76, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#panels.compare #main-image .next-icon {
  display: none;
}
/* line 81, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
#panels.compare #compare-image .prev-icon {
  display: none;
}
/* line 87, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
.image-selector-tooltip .image-selector-tooltip-text {
  visibility: hidden;
  font-size: 0.85em;
  color: black;
  text-align: center;
  border-radius: 8px;
  padding: 4px 7px;
  position: absolute;
  z-index: 1000;
  box-sizing: initial;
  border-color: black;
  background: none repeat scroll 0 0 #eee;
  top: 40px;
  margin-left: 4px;
}
/* line 103, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_image.less */
.image-selector-tooltip.hover .image-selector-tooltip-text,
.image-selector-tooltip:hover {
  visibility: visible;
}
/* line 1, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_restricted.less */
#restricted-message-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
}
/* line 7, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_restricted.less */
#restricted-message-wrapper #restricted-message {
  position: relative;
  background-color: white;
  margin: auto auto;
  max-width: 500px;
  padding: 1.5em;
}
/* line 13, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_restricted.less */
#restricted-message-wrapper #restricted-message h1 {
  font-family: Crimson Text, serif;
  font-size: 1.75em;
  font-weight: 600;
  margin: 0;
  line-height: normal;
}
/* line 20, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_restricted.less */
#restricted-message-wrapper #restricted-message hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  margin: 0.5em 0 0.5em;
}
/* line 25, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_restricted.less */
#restricted-message-wrapper #restricted-message p {
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
  margin: 0;
}
/* line 3, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_modal.less */
body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
/* line 7, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_modal.less */
body.modal-open div.livingstone-manuscript-viewer-modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 12, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_modal.less */
body.download-modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
/* line 16, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_modal.less */
body.download-modal-open div.livingstone-manuscript-viewer-download-modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 22, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_modal.less */
div.livingstone-manuscript-viewer-modal,
div.livingstone-manuscript-viewer-download-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* line 33, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_modal.less */
div.livingstone-manuscript-viewer-modal iframe,
div.livingstone-manuscript-viewer-download-modal iframe {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1000;
  background-color: black;
}
@media screen and (max-width: 568px) {
  /* line 49, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_modal.less */
  div.livingstone-manuscript-viewer-modal,
  div.livingstone-manuscript-viewer-download-modal {
    padding: 0;
  }
  /* line 51, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_modal.less */
  div.livingstone-manuscript-viewer-modal iframe,
  div.livingstone-manuscript-viewer-download-modal iframe {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0;
  }
}
/* line 3, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads {
  position: fixed;
  overflow-y: auto;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 200;
}
/* line 10, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads .downloads-content {
  padding: 3em 1em 1em;
  max-width: 800px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  /* line 111, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_utilities.less */
  #downloads .downloads-content {
    padding: 3em 2em 2em;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 117, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_utilities.less */
  #downloads .downloads-content {
    padding: 3em 4em 3em;
  }
}
/* line 15, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads .downloads-lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 20, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads .close {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  padding: 4px 8px;
  color: black;
  position: absolute;
  font-size: 0.875em;
  top: 10px;
  right: 5px;
  opacity: 1;
  z-index: 1;
}
/* line 31, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads h1,
#downloads h2 {
  color: #000;
  font-family: 'Crimson Text', serif;
  text-align: center;
}
/* line 36, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 120%;
}
/* line 41, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads h2 {
  font-size: 1em;
  font-style: italic;
}
/* line 45, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-top-width: 1px;
  font-family: "Crimson Text", serif;
  font-weight: bold;
}
/* line 53, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads p {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  width: 95%;
}
/* line 60, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
/* line 64, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads ul li {
  text-align: center;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}
/* line 69, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads ul li a,
#downloads ul li a:visited,
#downloads ul li a:hover {
  color: #428bca;
  text-decoration: none;
}
/* line 73, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/_downloads.less */
#downloads ul li span {
  color: #808080;
  font-size: 0.8em;
  vertical-align: text-bottom;
}
/* line 11, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/livingstone-manuscript-viewer.less */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 15, /Users/nbanks/Projects/livingstoneonline.org/code/livingstone_online_module/modules/viewer/less/livingstone-manuscript-viewer.less */
body {
  height: 100%;
  width: 100vw;
  position: fixed;
}
